.footer {
  margin: 0 auto;
  display: flex;
  background-color: rgba(255, 255, 255, 1);
  justify-content: center;
  align-items: center;
  width: 1920;
  height: 88px;
  border-top: 1px solid rgba(236, 239, 242, 1);
}

.footer__description {
  color: rgba(25, 28, 31, 1);
  font-size: 18px;
  line-height: 32px;
}