.main__works {
  margin-top: 80px;

  @media (max-width: $tablet-width) {
    margin-top: 56px;
  }
}

.main__works-title {
  margin: 0;
  display: flex;
  justify-content: center;
  font-size: 40px;
  font-weight: 600;
  line-height: 56px;
  color: rgba(25, 28, 31, 1);
}

.main__works-info {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 280px 280px 280px 280px;
  gap: 32px;
  justify-content: center;

  @media (max-width: $tablet-width) {
    display: grid;
    grid-template-columns: 342px 342px;
    margin-top: 42px;
  }
}

.info__image {
  @media (max-width: $tablet-width) {
    position: absolute;
    margin-left: -7px;
    width: 56px;
    height: 56px;
  }
}

.info {
  margin-top: 61px;

  @media (max-width: $tablet-width) {
    margin: 0;
  }
}

.info__title {
  margin: 0;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 600;
  color: rgba(25, 28, 31, 1);

  @media (max-width: $tablet-width) {
    margin-left: 65px;
    margin-top: 0;
  }
}

.info__description {
  margin: 0;
  margin-top: 5px;
  font-weight: 400;
  font-size: 14px;

  @media (max-width: $tablet-width) {
    margin-left: 65px;
  }
}